{% extends('base.html.twig') %}

{% block title %} 404 Fucking slaves {% endblock %}

{% block body_class %}e404{% endblock %}

{% block content %}
    <div class="e404__container">
        <div class="e404__title">404 fucking slave</div>
        <div class="e404__content">Что вершит судьбу человечества в этом мире? Некое незримое существо или закон, подобно Длани Господней парящей над миром? По крайне мере истинно то, что человек не властен даже над своей волей.</div>
    </div>
{% endblock %}